<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
        &copy; 2017 Counterspace Consulting &bullet; site by ifSoWhy
    </div>

  </div>
  <script>
    $(function(){
      $.scrollify({
        section: ".page-section",
        interstitialSection: "site-footer, .top-header",
        setHeights: false,
        //offset: 100,
        before: ccScroll,
      });
    });

    function ccScroll(index,sections){
      console.log("ccScroll: index = " + index);
      console.log("index is a " + typeof index);
      if (index !== '1') {
      }
    }

  </script>
</footer>
