<footer class="site-footer">
        &copy; 2017 Counterspace Consulting &bullet; site by ifSoWhy
        <div id="mobile-contact">
          <a href="mailto:claire@counterspaceconsulting.com">claire@counterspaceconsulting.com</a>
        </div>
</footer>

  <script>
    
    var windowWide = $(window).width() > 600;
    var lastSize = windowWide ? 'wide' : 'narrow';
    var sections = {'wide': '.page-section', 'narrow': '.home-left, .page-section' }

    $(function(){
      $.scrollify({
        section: sections[lastSize], 
        interstitialSection: "site-footer",
        setHeights: false,
        //offset: 100,
        before: ccScroll,
        afterResize: adjustSections
      });
    });

    function adjustSections(){
      var width = $(window).width();
      var thisSize = width > 600 ? 'wide' : 'narrow';
      if (thisSize != lastSize){
        lastSize = thisSize;
        $.scrollify.setOptions({section: sections[thisSize]});
      }
    }

    function ccScroll(index,sections){
      console.log("ccScroll: index = " + index);
      console.log("index is a " + typeof index);
      if (index !== '1') {
      }
    }

  </script>
