@charset "utf-8";

// Define defaults for each variable.

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,700');

//$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-family: "Libre Franklin", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$site-green: #158470;
$site-light-green: #8DC63F;
$green-background-color: lighten(desaturate($site-green, 50% ), 40%);
$site-red: #EF4136;
$site-orange: #F7941D;

$text-color:       #666 !default;

$body-background-color: #e1e1e1;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;


$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    1200px !default;

$phone:            480px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "bare/base",
  "bare/layout",
  "bare/syntax-highlighting",
  "bare/additions"
;
