---
  layout: default
---

<div class="home">
  <div class="home-left">

    <div class="headshot">
      <img id="headshot" src="assets/images/headshot2.jpg" /> 
      <div class="caption">
        <h1>
        Dr. Claire Horner-Devine,
        </h1>
        <p>
        founder of Counterspace Consulting,  is a scientist with a passion for connecting people and ideas.
       <p>
We develop customized programs, workshops and coaching for each client.
       <p>
Contact us at <a href="mailto:claire@counterspaceconsulting.com">claire@counterspaceconsulting.com</a> to set up a meeting.
       <p>
       
      </div>
    </div>
  </div>

  <div class="home-right">
    <div class="blurb">
We partner with dedicated individuals and innovative organizations to transform services, products and community with evidence-based leadership, equity, diversity and inclusion strategies.    
     </div>

  <div class="blurb right">
   <p class="first">
	 Counterspace Consulting is a career and leadership firm focused on developing and facilitating transformative experiences for clients. We create professional development and leadership opportunities grounded in social science research and guided by core values of equity, empathy, growth and curiosity.
   <p>
  	We assess organizational culture and processes, design custom leadership and equity strategies and consult on strategy implementation, adaptation and sustainability. 
   <p>
  	We develop and deliver interactive workshops, programs and coaching based on a large body of social science research to help C-level executives, leaders, managers and employees at all levels accelerate their individual and team development and move the needle on equity, diversity and inclusion. 
  </div>

  </div>
</div>
