---
  layout: default
---

<div class="home">
  <div class="home-left">
    <div class="headshot">
      <img id="headshot" src="assets/images/headshot2.jpg" /> 
      <div class="caption">
        <h1>
        Dr. Claire Horner-Devine,
        </h1>
        <p>
        founder of Counterspace Consulting,  is a scientist with a passion for connecting people and ideas.
       <p>
We develop customized programs, workshops and coaching for each client.
       <p>
Contact us at <a href="mailto:claire@counterspaceconsulting.com">claire@counterspaceconsulting.com</a> to set up a meeting.
       <p>
       
      </div>
    </div>
  </div>

  <div class="home-right">
    <div class="blurb right">
     <h1 class="mid-title">
     Counterspace Consulting 
     </h1>
     <p>
     is a career and leadership firm focused on developing and facilitating transformative experiences for clients. 
     <p>
     We create professional development and leadership opportunities grounded in social science research and guided by core values of equity, empathy, growth and curiosity.
    </div>

    <div class="blurb">
      <p>
      <img src="assets/images/star.png" class="left-star"/>
We partner with dedicated individuals and innovative organizations to transform services, products and community with evidence-based leadership, equity, diversity and inclusion strategies.    
    </div>


    <div class="blurb">
      <h3>Why Counterspace?</h3>
      <p>
        <img src="assets/images/star.png" class="right-star"/>
       A counterspace is an environment that promotes well-being and a sense of belonging and and allows individuals to be their whole selves in the face of challenging or hostile landscapes. 
       <p>
       A counterspace provides a space to explore and discuss the intersection of social, personal and professional identities and paves the way for increased community and individual sense of belonging. 
    </div>



    <div class="blurb right" >
      <h3>What we believe</h3>
      <p>
We believe that organizations excel and individuals thrive in a culture that values and embodies community, respect and engagement.
<p>
We believe in the importance of equity, inclusion and diversity.
<p>
We believe you can thrive in your career & your life.
<p>
We believe in community, curiosity & creativity.
<p>
We believe you can create your own path.
<p>
We believe your story matters.
    </div>
    

  </div>

</div>
<section id="bio">
  <h1>
  Dr. Claire Horner-Devine
  </h1>
  <p>
  Connection, community, creativity, agency, and problem solving are core values throughout all of Dr. Horner-Devine's work. Her professional experience spans the domains of STEM (science, technology engineering and math), education and equity. Her fluency in science and research, her agility in communication across professional cultures and settings, and her creative approach to strategy and leadership allow her to engage with partners using a unique perspective and set of tools. 
  <p>
  Dr. Horner-Devine received her B.A in Ecology and Evolutionary Biology from Princeton University and her Ph.D. in Biological Sciences from Stanford University.
  <p>
  For over a decade she worked at the College of the Environment at the University of Washington, as a faculty member in the School of Aquatic and Fishery Sciences and as Director of Leadership and Diversity. 
  <p>
  She is the co-founder and co-director of three national programs (BRAINS, WEBS and LATTICE) designed to accelerate and improve the career advancement of early-career women and researchers from underrepresented groups in STEM.
</section>
<section id="leftovers">
     <p>
      We assess organizational culture and processes, design custom leadership and equity strategies and consult on strategy implementation, adaptation and sustainability. 
     <p>
      We develop and deliver interactive workshops, programs and coaching based on a large body of social science research to help C-level executives, leaders, managers and employees at all levels accelerate their individual and team development and move the needle on equity, diversity and inclusion. 
</section>
