---
  layout: default
---

<div class="home-left">
  <div class="headshot">
    <img id="headshot" src="assets/images/headshot2.jpg" /> 
    <div class="caption">
      <h1>
      Claire Horner-Devine, PhD
      </h1>
      <div class="subslogan">
      founder of Counterspace Consulting
      </div>
      <div class="email">
<a href="mailto:claire@counterspaceconsulting.com">claire@counterspaceconsulting.com</a>
      </div>
     <div class="social">
       <a href="https://www.linkedin.com/in/claire-horner-devine-103aa71/" class="linkedin"></a>
       <a href="https://twitter.com/chornerdevine?lang=en" class="twitter"></a>
     </div>
     
    </div>
  </div>
</div>

<section class="home-right page-section">
  <a name="who-we-are"></a>
  <div class="blurb right">
     <p>
     We are a career and leadership firm focused on designing and facilitating transformative experiences for clients. 
     <p>
     <img src="assets/images/star.png" class="center-star one"/>
     <p>
     We create professional development and leadership opportunities grounded in social science research and guided by relationships and curiosity.
     <p>
     <img src="assets/images/star.png" class="center-star two"/>
     <p>
      We partner with dedicated individuals and innovative organizations to transform services, products, and culture with evidence-based leadership, equity, diversity, and inclusion strategies. 
     <p>
     <img src="assets/images/star.png" class="center-star three"/>
     <p>
       We specialize in programming developed for and by professionals in STEM (science, technology, engineering and mathematics).
  </div>
</section>

 <section class="page-section">

  <div class="blurb right">
    <a name="why-counterspace"></a>
    <h3><span>Why &ldquo;Counterspace&rdquo;?</span></h3>
    <p>
      <img src="assets/images/star.png" class="right-star"/>
      A counterspace is an environment that promotes well-being and a sense of belonging. 
      Counterspaces allow individuals to be their whole selves in the face of challenging or even hostile landscapes. 
  </div>

  <div class="blurb right">
    <a name="services"></a>
    <h3><span>Counterspace Services</span></h3>
      <img src="assets/images/star.png" class="right-star second"/>
    <ul>
      <li>Individual and executive coaching</li>
      <li>Program design and delivery</li>
      <li>Workshop design and facilitation</li>
    </ul>
  </div>

  <div class="blurb right">
    <h3><span>Counterspace Clients and Partners</span></h3>
    <ul>
      <li>The Bill and Melinda Gates Foundation</li>
      <li>National Oceanic and Atmospheric Administration</li>
      <li>The Animal Behavior Society</li>
      <li>The Society for Integrative and Comparative Biology</li>
      <li>Redfin</li>
      <li>Universities and colleges, including Brown University, Duke University, Western Washington University, Universtity of Washington, University of Hawaii, UC Santa Cruz, Northeastern University, University of New Hampshire, among others</li>
    </ul>
    <p>
  </div>

  <div class="blurb right">
    <p>
    Contact claire@counterspaceconsulting.com to learn more about working with us.
  </div>

</section>

<section class="page-section" id="believe-section">
    <div class="blurb right" >
      <a name="what-we-believe"></a>
      <h3><span>What we believe</span></h3>
      <ul class="believe-list">
        <li>
          We believe that organizations excel and individuals thrive in a culture that values and embodies community, respect, and engagement.
        <li>
          We believe strong relationships are the foundation for growth and excellence.
        <li>
          We believe in the importance of equity, inclusion, and diversity.
        <li>
          We believe in curiosity and creativity.
        <li>
          We believe you can create your own path.
        <li>
          We believe your story matters.
   </div>
</section>

<section class="page-section" id="individual-section">
    <div class="blurb right" >
      <a name="offerings-for-individuals"></a>
      <h3><span>Offerings for Individuals</span></h3>
        <div class=graph>
         <span class="question">Power of Peers Circles &amp; Coaching for Women in STEM</span> The Power of Peers (POP) Circles and Coaching Program is a career development program designed to transform your life &amp; propel your career forward. 
        </div>
        <div class="graph">
          <span class="question">What is a POP Circle?</span> POP Circles are virtual peer mentoring communities that meet every other week. The program includes three facilitated POP Circle meetings, ongoing access to your POP Circle and two individual coaching sessions. 
        </div> 
        <div class="graph">
          <span class="question">Why join?</span> Women excel when they have access to informal networks, community, and a tight circle of successful women peers as they navigate bias and challenging institutions. POP Circle participation provides access to accountability, community, empowerment and ongoing connection. Your circle will be a professional space for confidential conversations about the intersection of who you are personally, professionally &amp; the role of your social identities in your experience.
        </div>
        <div class="graph">
          <span class="question">Who is in your POP circle?</span> Join five to seven women at a similar career stage in STEM and work together to propel your careers forward. We help build the POP Circle you want and need so you can have a space with peers with whom you share identities - like gender, race, ethnicity, LGBQT, among others - that are most salient to your career and life. 
        </div>
        <div class="graph">
          <span class="question">What are the benefits?</span> A community of peers to leverage for support, feedback &amp; ideas throughout your career. Structured and self-sustaining career development. Peer accountability to make change happen. Professional space for conversations about the intersection of who you are personally, professionally &amp; the role of your social identities in your experience.
        </div>
        <div class="graph">
          <span class="question">How do I start?</span> Learn more and apply to a POP Circle &amp; Coaching Cohort for Women in STEM or Women in Tech. 
        </div>

</section>

<section id="bio" class="page-section">
  <div class='blurb right'>
  <a name="bio"></a>
  <h3>
    <span>
  About Dr. Horner-Devine
    </span>
  </h3>
  <p>
  Connection, creativity, and problem-solving are central to Dr. Horner-Devine's work. 
  Her professional experience spans the domains of STEM (science, technology, engineering, and math), education, and social equity. 
  For almost a decade she served as a faculty member at the University of Washington, running a research lab and teaching courses in the biological sciences.
  <p>
  She is the co-founder and co-director of three national programs (<a href="https://advance.washington.edu/brains/" target='_blank'>BRAINS</a>, <a href="https://www.frontiersin.org/articles/10.3389/fevo.2016.00119/full" target="_blank">WEBS</a>, and <a href="https://advance.washington.edu/lattice" target="_blank">LATTICE</a>) designed to accelerate and improve the career advancement of early-career women and researchers from underrepresented groups in STEM.
  <p>
  Dr. Horner-Devine received her B.A from Princeton University and her Ph.D. in Biological Sciences from Stanford University.
  <p>
  She has served as Director of Leadership and Diversity in the College of the Environment at the University of Washington. She also has experience as an environmental consultant for a private firm and as a program officer for The Gordon and Betty Moore Foundation.
  <p>
  </div>
</section>
